doctype html
html
    head
        title Message App
        link(rel='stylesheet', href='/root/views/Home/home.css', type='text/css')
        script(src='https://kit.fontawesome.com/f1627fd21a.js', crossorigin='anonymous')
        script(src="/socket.io/socket.io.js")
        script.
            let userDetail = !{JSON.stringify(user)};
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,800&display=swa', rel='stylesheet')
    body
        div.leftContainer
            a(href='/game')
                i.fas.fa-gamepad.gameIcon.fa-2x
            div.userProfile
                div.userProfileImageContainer
                    img.rounded.userProfileImage(src=user.profilePic)
                    a(href='/profilepictureupload')
                        i.fas.fa-camera.fa-lg.editProfileImage
                h3.userName= user.firstname + " " + user.lastname
            //div.searchContainer
                div.iconContainer
                    i.fas.fa-search.fa-lg.searchIcon
                    input.searchInput(placeholder="Search")
            div.recentMessageContainer#recentMessageContainer
                each chatRoom in chat
                    div.recentMessageBlock.clickable(id=chatRoom.id data-chat=chatRoom.id onclick="chatClick(this)")
                        div.recentMessageSplit
                            img.rounded.recentProfile(src=chatRoom.receiver.profilePic)
                            div.nameMessage
                                p.recentName= chatRoom.receiver.firstname + " " + chatRoom.receiver.lastname
                                if chatRoom.messages.length === 0
                                    p.recentMessage  Start a Conversation
                                else
                                    p.recentMessage= chatRoom.messages[chatRoom.messages.length-1].content
                            div.timeNotification
                each user in onlineUsers
                    div.recentMessageBlock.clickable(id=user.id  onclick="chatClick(this)")
                        div.recentMessageSplit
                            img.rounded.recentProfile(src=user.profilePic)
                            div.nameMessage
                                p.recentName= user.firstname + " " + user.lastname
                                p.recentMessage Start a Conversation
        div.rightContainer#rightContainer
            div.noChatContainer
                i.fas.fa-hand-point-left.fa-5x
                h1 Start Chatting

    script(src='/root/views/Home/home.js')


