doctype html
- let messages = [{id: 123, name:'a jan', recent_message: 'hey whats hey whats hey whats hey whats hey whats ', profile:'../asset/mockLogo.png', time:'3:42 PM'}]
- let individualMessages = [{id: 153, receiver:'jan', sender: 'kevin', content:'; sk', time:'3:42 PM', profile:'../asset/mockLogo.png', sent: true}, {id: 1523, receiver:'jan', sender: 'kevin', content:'hellow sk', time:'3:42 PM', profile:'../asset/mockLogo.png', sent: true}, {id: 133, receiver:'me', sender: 'kevin', content:'hellow sk', time:'3:42 PM', profile:'../asset/mockLogo.png', sent: false}]
html
    head
        title Message App
        link(rel='stylesheet', href='./home.css', type='text/css')
        script(src='https://kit.fontawesome.com/f1627fd21a.js', crossorigin='anonymous')
        script.
            let userDetail = !{JSON.stringify(user)};
            let chatDetail = !{JSON.stringify(chat)};
            let receiver = !{JSON.stringify(receiver)};
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,800&display=swa', rel='stylesheet')
    body
        div.leftContainer
            div.userProfile
                div.userProfileImageContainer
                    img.rounded.userProfile(src=user.profilePic)
                    i.fas.fa-camera.fa-lg.editProfileImage
                h3.userName= user.firstname + " " + user.lastname
            div.searchContainer
                div.iconContainer
                    i.fas.fa-search.fa-lg.searchIcon
                    input.searchInput(placeholder="Search")
            div.recentMessageContainer
                each message in messages
                    div.recentMessageBlock.clickable(id=message.id data-chat=message.id onclick="getMessages(this.id)")
                        div.recentMessageSplit
                            img.rounded.recentProfile(src=message.profile)
                            div.nameMessage
                                p.recentName= message.name
                                p.recentMessage= message.recent_message
                            div.timeNotification
                                p.recentTime= message.time
                                i.fas.fa-bell
                each user in onlineUsers
                    div.recentMessageBlock.clickable(id=user._id  onclick="te(this.id)")
                        div.recentMessageSplit
                            img.rounded.recentProfile(src=user.profilePic)
                            div.nameMessage
                                p.recentName= user.firstname + " " + user.lastname
                                p.recentMessage Start a Conversation
        div.rightContainer#rightContainer
            if chat.length === 0
                div.noChatContainer
                    i.fas.fa-hand-point-left.fa-5x
                    h1 Start Chatting
            else
                div.chatProfile
                    div.chatProfileInfo
                        img.receiverPicture.rounded(src='../asset/mockLogo.png')
                        p.receiverName Jokle Frfjd
                    span.block
                        i.fas.fa-ban.fa-lg.blockIcon
                div.socketContainer
                    each individualMessage in individualMessages
                        if individualMessage.sent
                            div.singleMessageContainerRight
                                div.messageContentContainerRight
                                    p.senderName= individualMessage.receiver
                                    p.messageContent= individualMessage.content
                                img.messageSenderImage.rounded(src=user.profilePic)
                        else
                            div.singleMessageContainerLeft
                                img.messageSenderImage.rounded(src=individualMessage.profile)
                                div.messageContentContainerLeft
                                    p.senderName= individualMessage.receiver
                                    p.messageContent= individualMessage.content
                div.inputContainer
                    div.imageIconInput
                        i.far.fa-image.fa-2x.imageIcon
                        input.inputMessage(placeholder='Type here to send a message')
                        i.fas.fa-paper-plane.fa-2x.sendIcon
    script(src='./home.js')


